@import '../globalstyle.scss';

.sidebar {
     z-index: 100;
     transition: 0.2s all;
     position: absolute;
     left: 0;
     user-select: none;
     width: 15%;
     height: 100%;
     background-color: #161616;
     position: absolute;
     left: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     overflow: hidden;

     .sidebarCloseIcon {
          color: rgb(167, 151, 255);
          font-size: 20px;
          position: absolute;
          right: 0.8rem;
          top: 2rem;
          transform: rotate(10deg);
          z-index: 10;
          cursor: pointer;
          transition: 0.1s all;
     }
     .sidebarCloseIcon:hover {color: white; font-size: 22px;}

     .sidebarOpenIcon {
          color: rgb(167, 151, 255);
          font-size: 20px;
          position: absolute;
          right: 1.5rem;
          top: 1rem;
          transform: rotate(10deg);
          z-index: 10;
          cursor: pointer;
          transition: 0.1s all;
     }
     .sidebarOpenIcon:hover {color: white; font-size: 22px;}


     .sidebar-top {
          margin-bottom: 30px;
          width: 100%;
          height: 100px;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          img {
               margin-bottom: 10px;
               margin-left: 18px;
          }
          .searchinput {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 100%;
               height: 100%;
               input[type='text'] {
                    position: relative;
                    background-color: #303030;
                    color: white;
                    font-size: 14px;
                    width: 85%;
                    height: 27px;
                    border: none;
                    outline: none;
                    border-radius: 8px;
                    padding: 15px 33px;
                    font-weight: 500;
               }
               input[type='text']::placeholder {
                    position: absolute;
                    left: 38px;
               }
               input[type='text']:focus {
                    border: 1px solid mediumslateblue;
               }
               .search-icon {
                    font-size: 22px;
                    color: white;
                    position: absolute;
                    left: 22px;
               }
          }

     }

     .sidebar-menu-area {
          border-bottom: 1px solid #cecece20;
          width: 100%;
          height: 260px;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          .menu-title {
               width: 100%;
               height: 30px;
               display: flex;
               align-items: center;
               justify-content: flex-start;
               h4 {
                    @include flex;
                    font-size: 16px;
                    font-weight: 400;
                    color: white;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    .closeIcon {font-size: 20px; margin-left: 5px; cursor: pointer;}
                    .closeIcon:hover {background-color: #303030; border-radius: 8px;}
               }
          }

          .navlist {
               transition: 0.2s ease-out;
               display: flex;
               width: 100%;
               height: auto;
               .li {
                    color: white;
                    font-size: 15px;
                    width: 100%;
                    height: auto;
                    margin: 3px 10px;
                    display: flex;
                    align-items: center;
                    padding: 6px;
                    transition: 0.1s all;
                    #icons {
                         font-size: 18px;
                         margin-right: 10px;
                    }
               }
               .li:hover {
                    background-color: #303030;
                    border-radius: 10px;
               }
          }
          .downMenu {
               visibility: hidden;
               pointer-events: none;
               opacity: 0;
               transform: translateX(-10rem);
          }
       
           
     }

     .sidebar-account-area {
          margin-top: 30px;
          width: 100%;
          height: 210px;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          .account-title {
               width: 100%;
               height: 30px;
               display: flex;
               align-items: center;
               justify-content: flex-start;
               h4 {
                    @include flex;
                    font-size: 16px;
                    font-weight: 400;
                    color: white;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    .closeIcon {font-size: 20px; margin-left: 5px; cursor: pointer;}
                    .closeIcon:hover {background-color: #303030; border-radius: 8px;}
               }
          }

          .navlist {
               transition: 0.2s ease-out;
               display: flex;
               width: 100%;
               height: auto;
               .li {
                    color: white;
                    font-size: 14px;
                    width: 100%;
                    height: auto;
                    margin: 3px 10px;
                    display: flex;
                    align-items: center;
                    padding: 6px;
                    transition: 0.1s all;
                    #icons {
                         font-size: 18px;
                         margin-right: 10px;
                    }
               }
               #redBackground:hover {
                    background-color: rgb(109, 48, 48) !important;
               }
               .li:hover {
                    background-color: #5050ac9f;
                    border-radius: 10px;
               }
          }
          .downMenu {
               visibility: hidden;
               pointer-events: none;
               opacity: 0;
               transform: translateX(-10rem);
          }
         
     }
}

.openSide {

}

.closeSide {
     width: 5%;
     
}