@import '../globalstyle.scss';

.sign-error {
     width: 400px;
     height: 100%;
     background: linear-gradient(333deg, rgba(255,255,255,1) 0%, rgba(195,0,0,1) 0%, rgba(85,47,47,1) 96%);;
     border-radius: 10px;
     border-left: 10px solid rgb(184, 50, 26);
     @include errorAnim();
     @include flex;
     h1 {
          color: white;
          font-size: 14px;
          font-weight: 500;
          color: rgb(233, 202, 202);
     }
}

.error-login {
     width: 400px;
     height: 40px;
     background: linear-gradient(333deg, rgba(255,255,255,1) 0%, rgba(195,0,0,1) 0%, rgba(85,47,47,1) 96%);;
     border-radius: 10px;
     border-left: 10px solid rgb(184, 50, 26);
     @include errorAnim();
     @include flex;
     span {
          color: white;
          font-size: 14px;
          font-weight: 500;
          color: rgb(233, 202, 202);
     }
}
.error-login2 {
     background: rgb(255,255,255);
     background: linear-gradient(333deg, rgba(255,255,255,1) 0%, rgba(114,49,217,1) 0%, rgba(144,0,0,1) 96%);
}

.success-msg {
     span {
          color: #303030 !important;
          font-weight: 600 !important;
     }
     border: none !important;
     background: rgb(255,255,255);
     background: linear-gradient(333deg, rgba(255,255,255,1) 0%, rgba(91,214,135,1) 0%, rgba(73,157,49,1) 55%);
}
.successed {
     @include animModal();
     width: 50%;
     border-radius: 7px;
     @include flex;
     position: fixed;
     color: $backColor4light;
     font-size: 15.5px;
     font-weight: 600;
     height: 35px;
     z-index: 10000;
     background-color: $globalWarningColor;
     #deletewarn {
          color: rgb(175, 32, 32);
          font-size: 1.5rem;
          position: absolute;
          transition: 0.2s ease-out;
          right: 1rem;
          cursor: pointer;
     }
     #deletewarn:hover {color: red; transform: rotate(-50deg);}
     #deletewarn:active {transform: translateX(-5px);}
     #warnicon {
          color: rgb(36, 34, 34);
          font-size: 1.5rem;
          position: absolute;
          left: 1.6rem;
     }
}